<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galeria de fotos Duvan Zapata
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position"><!--Ciclo para la ubicación de las fotos-->
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
    <!--Boton-->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()"><!--Al evento click se le agrega la función que llama a la función asíncrona del servicio-->
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
